/*#small{*/
    /*width:400px;*/
    /*height:400px;*/
    /*position:absolute;*/
    /*left:50px;*/
    /*top:20px;*/
/*}*/
/*#simg{*/
    /*position:absolute;*/
/*}*/
#move{
    width:10px;
    height:10px;
    /*background-color:red;*/
    position:absolute;
    left:100px;
    top:100px;
    background-image:url(image/bg.png);
    display:none;
}
#big{
    width:400px;
    height:400px;
    position:absolute;
    left:742px;
    top:186px;
    overflow:hidden;
    display:none;

}
#bimg{
    position:absolute;
}