[viewBag]
==
<div class="yt-forPassword">
        {% partial account ~ '::update' %}
    </div>
    <div class="update-pass" id="ncg3" style="display:block">
    <div class="main-content background-fff" id="findPass">
        <div class="clearfix page-title"><span class="fl-l line"></span><span class="fl-l Fword font-eig">找回密码</span><span class="fl-r line"></span></div>
        <div class="newpassWord">
            <span class="font-th">新密码:</span> <input  class="marLe" type="text" placeholder="格式6-18位" id="newPassword">
        </div>
        <div class="surepassWord">
            <span class="font-th">确认密码:</span> <input class="marLe" type="text" placeholder="在输入一次确保一致" id="surePassword">
        </div>
        <div class="marFLthirty">
            <a href=""><span id="confSave">保存</span></a>
            <a data-request="onLogout"><span id="backTo">返回</span></a>
        </div>
    </div>
</div>