[viewBag]
==
<div class="bottom-base">
        <div class="main-content bottom-base-area">
            <p class="callme">
                <a href="">關於我們</a><span class="shu-line"></span><a href="">服務條款</a><span class="shu-line"></span><a
                    href="">用戶服務協議</a><span class="shu-line"></span><a href="">廣告服務</a><span class="shu-line"></span><a
                    href="">客服中心</a><span class="shu-line"></span><a href="" style="border:none; ">網站導航</a>
            </p>
            <p>
                Copyright Rojrover 2014 all rights reserved 粤ICP备05013919号
            </p>
            <p>
                莱姿公司 版权所有
            </p>

        </div>
</div>
<script src="{{ 'assets/raw/js/common/common.js'|theme }}"></script>
<script src="{{ 'assets/raw/js/common/login.js'|theme }}"></script>
<script src="{{ 'assets/raw/js/common/layout.js'|theme }}"></script>