.zoom {
    display:inline-block;
}

.zoom:after {
    content:'';
    display:block;
    width:33px;
    height:33px;
    position:absolute;
    top:0;
    right:0;
;
}

.zoom img {
    display: block;
}

/*.zoom img::selection { background-color: red; }*/