title = "dpc"
url = "/dpc"
layout = "dpc"
description = "设计师主页"
is_hidden = 0
==
<link rel="stylesheet" href="{{ 'assets/raw/css/designer-personal-cloth.css'|theme }}"/>    
<div class="big-box down-border background-fff">
    <div class="banner-list main-content clearfix">
        <div class="fl-l logo">
            <a href="javascript:;"><img src="{{ 'assets/img/common/logo.png'|theme }}" alt=""></a>
        </div>
        <ol class="first-page-list-left fl-l">
            <li id="firstpage" class="tab"><a href="Home"><span>首页</span></a></li>
            <li id="womenpage" class="tab"><a href="wmc"><span>女装</span></a></li>
            <li id="manpage" class="tab"><a href="wmc"><span>男装</span></a></li>
            <li id="childrenpage" class="tab"><a href="" onclick="alert('is building!')"><span>童装</span></a></li>
            <li id="clothpage" class="tab"><a href="" onclick="javascript:alert('is building!')"><span>成衣系列</span></a></li>
            <li id="private-order" class="tab"><a href="" onclick="javascript:alert('is building!')"><span>私人定制</span></a></li>
            <li id="fashion-information" class="tab"><a href="zixun"><span>潮流资讯</span></a></li>
        </ol>
        <ul class="first-page-list-right fl-r" id="lgs">
            <li class="login" id="sign-in"><span>登录</span></li>
            <li class="shopcar"><a href="pcar"><i style="background: url({{ 'assets/img/sprit-img.png'|theme }}) no-repeat -7px -11px;"></i>
                <span>购物车</span></a></li>
            <li class="search" onclick="javascript:alert('efforts are being made to build');"><img
                    src="{{ 'assets/img/common/serach.png'|theme }}"></li>
        </ul>
    </div>
</div>
<div style="background:#f7f7f7">
    <div class="main-content">
        <div class="navgiation">
            <a href="index.html"><i class="designer-home"></i>设计师首页</a> <i class="grey-arrow"> </i> <a href=""><span
                class="design-name">韩璐鹿</span></a>
        </div>
        <div class="back-white clearfix">
            <div class="float-left designer-decoration">
                <div class="clearfix">
                    <div class="designer-decoration-information float-left clearfix">
                        <div class="designer-decoration-head">
                            <a href="p-center"><img src="{{ 'assets/img/dpc/1.jpg'|theme }}" alt=""
                                                                style="width:100%;height:100%;"></a>
                        </div>
                        <div class="name-content">
                            <p class="name-content-detail"><span class="name">name</span><i></i><span class="position">position</span>
                            </p>
                            <p class="designer-detail-daily clearfix">
                                <a href="" onclick="alert('is building!')"><span
                                        class="work"><i>26</i>作品</span></a><span class="shu-line"></span><a
                                    href="p-room"><span class="fan"><i>88</i>粉丝</span></a><span
                                    class="shu-line"></span><a href="p-room"><span class="notice"><i>66</i>关注</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="xuankuang float-right">
                        <span class="gz" id="notice">+关注</span>
                        <a href="p-room.html"><span>TA的空间</span></a>
                        <a href="" onclick="alert('efforts are made to build!')"><span>私人定制</span></a>
                    </div>
                </div>
                <p class="word-decoration">
                    毕业于意大利米兰马兰欧尼设计学院新式轻礼服创导者。擅长将典雅的东方气质与利落的西式剪裁相融和，强调女性精致、优雅的特质提倡一衣多变及无季节性的穿搭理念，力求在设计感与实穿性上找到最佳契合点。</p>
                <div class="share-column">
                    <div class="sns-share">
                        <span>分享到:</span>
                        <a class="wechat"><i class="icon iconfont icon-wechat"></i></a>
                        <a class="weibo"><i class="icon iconfont icon-weibo"></i></a>
                        <a class="qq"><i class="icon iconfont icon-qq"></i></a>
                        <a class="qzone"><i class="icon iconfont icon-qzone"></i></a>
                    </div>
                </div>

            </div>
            <div class="float-right designer-decoration-logo">
                <img src="{{ 'assets/img/designer-cloth-logo.png'|theme }}" alt="">
            </div>
        </div>
        <div class="designer main-content">
            <div class="title-line">
                <i class="title-line-left"></i><span class="fenqu">设计师</span><i class="title-line-left"></i>
            </div>
        </div>
        <div class="clearfix">
            <div class="designer-personal flex-bloe float-left">
                <a href="dp" class="toucher"><img src="{{ 'assets/img/designer-cloth-img-01.png'|theme }}" alt=""></a>
                <a href="dp" class="toucher"><img src="{{ 'assets/img/designer-cloth-img-01.png'|theme }}" alt=""></a>
            </div>
            <div class="float-right designer-detail-decoration">
                <a href=""><img src="{{ 'assets/img/designer-cloth-img-01.png'|theme }}" alt=""></a>
                <h1>2017春夏中国色彩：全新数字化绿色</h1>
                <p>
                    这里是服装主题描述文字 这里是服装主题
                    描述文字 这里是服装主题描述文字 这里
                    是服装主题描述文字 这里是服装主题描述
                    文字 这里是服装主题描述文字 这里是服
                    装主题描述文字
                </p>
            </div>
        </div>
        <ul class="banner-list-other  clearfix" id="design-cloth">
            <li class="active"><span>所有款式(68)</span><i></i></li>
            <li><span>连衣裙(68)</span><i></i></li>
            <li><span>连衣裙(68)</span><i></i></li>
            <li><span>连衣裙(68)</span><i></i></li>
        </ul>

        <!--i标签是用来统计数字的-->
    </div>
</div>

<div class="main-content pagenum">
    <ul class="clearfix">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</div>