title = "wmc"
url = "/wmc"
layout = "wmc"
is_hidden = 0
==
<link rel="stylesheet" href="{{ 'assets/raw/css/women/women-cloth.css'|theme }}"/>

<div class="big-box down-border background-fff">
    <div class="banner-list main-content clearfix">
        <div class="fl-l logo">
            <a href="javascript:;"><img src="{{ 'assets/img/common/logo.png'|theme }}" alt=""></a>
        </div>
        <ol class="first-page-list-left fl-l">
            <li id="firstpage" class="tab"><a href="Home"><span>首页</span></a></li>
            <li id="womenpage" class="tab"><a href="wmc"><span>女装</span></a></li>
            <li id="manpage" class="tab"><a href="wmc"><span>男装</span></a></li>
            <li id="childrenpage" class="tab"><a href="" onclick="alert('is building!')"><span>童装</span></a></li>
            <li id="clothpage" class="tab"><a href="" onclick="javascript:alert('is building!')"><span>成衣系列</span></a></li>
            <li id="private-order" class="tab"><a href="" onclick="javascript:alert('is building!')"><span>私人定制</span></a></li>
            <li id="fashion-information" class="tab"><a href="zixun"><span>潮流资讯</span></a></li>
        </ol>
        <ul class="first-page-list-right fl-r" id="lgs">
            <li class="login" id="sign-in"><span>登录</span></li>
            <li class="shopcar"><a href="pcar"><i style="background: url({{ 'assets/img/sprit-img.png'|theme }}) no-repeat -7px -11px;"></i>
                <span>购物车</span></a></li>
            <li class="search" onclick="javascript:alert('efforts are being made to build');"><img
                    src="{{ 'assets/img/common/serach.png'|theme }}"></li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div>
        <ul class="banner-list-other clearfix">
            <li class="active"><a href="">国际设计师</a></li>
            <li><a href="">知名设计师</a></li>
            <li><a href="">个性设计师</a></li>
            <li><a href="">新锐设计师</a></li>
        </ul>
    </div>
    <div class="J-Poster poster-main main-content" data-setting='{
        		                                             "width":1200,
    	                                                     "height":400,
    	                                                     "posterWidth":740,
    	                                                     "posterHeight":400,
    	                                                     "verticalAlign":"middle",
    	                                                     "autoPlay":true,
    	                                                     "scale":0.9,
    	                                                     "speed":500
        		                                            }'>
        <div class="poster-btn poster-prev-btn"></div>
        <ul class="poster-list">
            <li class="poster-item"><a href="dpc"><img src="{{ 'assets/img/women/top/1.jpg'|theme }}" width="100%" height="100%"></a></li>
            <li class="poster-item"><a href="dpc"><img src="{{ 'assets/img/women/top/2.jpg'|theme }}" width="100%" height="100%"></a></li>
            <li class="poster-item"><a href="dpc"><img src="{{ 'assets/img/women/top/3.jpg'|theme }}" width="100%" height="100%"></a></li>
        </ul>
        <div class="poster-btn poster-next-btn"></div>
    </div>
    <div>
        <ul class="banner-box clearfix">
            <li>
                <img src="{{ 'assets/img/baowen_03.png'|theme }}" alt=""/>
                <span>印花拼接T恤</span>
            </li>
            <li>
                <img src="{{ 'assets/img/baowen_03.png'|theme }}" alt=""/>
                <span>印花拼接T恤</span>
            </li>
            <li>
                <img src="{{ 'assets/img/baowen_03.png'|theme }}" alt=""/>
                <span>印花拼接T恤</span>
            </li>
            <li>
                <img src="{{ 'assets/img/baowen_03.png'|theme }}" alt=""/>
                <span>印花拼接T恤</span>
            </li>
            <li>
                <img src="{{ 'assets/img/baowen_03.png'|theme }}" alt=""/>
                <span>印花拼接T恤</span>
            </li>
            <li>
                <img src="{{ 'assets/img/baowen_03.png'|theme }}" alt=""/>
                <span>印花拼接T恤</span>
            </li>
            <li class="banner-box-word">
                <p>Cavalli class魔鬼系列</p>
                <p>魔鬼设计概念除了延续主线Roberto
                    Cavalli的野性不羁以及Just Cavalli的狂
                    野俏皮外，更融入了优雅华丽的元素，成
                    熟系的风格令Cavalli Class的客人范围和
                    穿着的场合更广。</p>
            </li>
        </ul>
    </div>
    <ol class="flat" id="list">
        <li class="active"></li>
        <li class=""></li>
        <li class=""></li>
    </ol>
</div>
<div class="designer main-content">
    <div class="title-line">
        <i class="title-line-left"></i><span class="fenqu">设计师</span><i class="title-line-left"></i>
    </div>
</div>
<div class="product-categories main-content background-fff">

    <ul class="clearfix product-categories-item">
        <li class="active"><a href="">全部</a></li>
        <li><a href="">2017春夏</a></li>
        <li><a href="">2017春夏</a></li>
        <li><a href="">2017春夏</a></li>
        <li><a href="">2017春夏</a></li>
    </ul>
    <ul class="clearfix">
        <li class="active"><a href="">全部</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
        <li><a href="">Dolce & Gabbana</a></li>
    </ul>
    <ul class="clearfix">
        <li class="active"><a href="">全部</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">潮牌</a></li>
        <li><a href="">潮牌</a></li>
        <li><a href="">潮牌</a></li>
    </ul>
    <ul class="clearfix">
        <li class="active"><a href="">全部</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
        <li><a href="">轻熟</a></li>
    </ul>
</div>
<div class="background-fff analyze-condition main-content">
    <ul class="clearfix analyze-condition-left">
        <li class="active"><a href="#">时间</a></li>
        <li><a href="#">浏览人气</a></li>
        <li><a href="#">时间</a></li>
        <li><a href="#">浏览人气</a></li>
    </ul>
    <ul class="clearfix analyze-condition-right">
        <li class="active">女装</li>
        <li>女装</li>
        <li>女装</li>
    </ul>
</div>
<div class="model-exhabition main-content">
    <ul>
        <li>
            <img src="{{ 'assets/img/model_03.png'|theme }}" alt=""/>
            <div class="cloth-style">2017春夏中国色彩系列</div>
            <div class="cloth-designer">设计师：AMYLEE</div>
            <div class="model-exhabition-list">
                <span>2017春夏</span>
                <span>轻熟</span>
                <span>甜美</span>
            </div>
        </li>
        <li>
            <img src="{{ 'assets/img/model_03.png'|theme }}" alt=""/>
            <div class="cloth-style">2017春夏中国色彩系列</div>
            <div class="cloth-designer">设计师：AMYLEE</div>
            <div class="model-exhabition-list">
                <span>2017春夏</span>
                <span>轻熟</span>
                <span>甜美</span>
            </div>
        </li>
        <li>
            <img src="{{ 'assets/img/model_03.png'|theme }}" alt=""/>
            <div class="cloth-style">2017春夏中国色彩系列</div>
            <div class="cloth-designer">设计师：AMYLEE</div>
            <div class="model-exhabition-list">
                <span>2017春夏</span>
                <span>轻熟</span>
                <span>甜美</span>
            </div>
        </li>
        <li>
            <img src="{{ 'assets/img/model_03.png'|theme }}" alt=""/>
            <div class="cloth-style">2017春夏中国色彩系列</div>
            <div class="cloth-designer">设计师：AMYLEE</div>
            <div class="model-exhabition-list">
                <span>2017春夏</span>
                <span>轻熟</span>
                <span>甜美</span>
            </div>
        </li>
    </ul>
</div>
<div class="main-content pagenum">
    <ul class="clearfix">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</div>
<script>
    $(function () {
        Carousel.init($(".J-Poster"));
    });
</script>