title = "zixun"
url = "/zixun"
layout = "zixun"
description = "资讯"
is_hidden = 0
==
<link rel="stylesheet" href="{{ 'assets/raw/css/zixun.css'|theme }}"/>
<link rel="stylesheet" href="{{ 'assets/raw/css/longline.css'|theme }}"/>

<div class="big-box down-border background-fff">
    <div class="banner-list main-content clearfix">
        <div class="fl-l logo">
            <a href="javascript:;"><img src="{{ 'assets/img/common/logo.png'|theme }}" alt=""></a>
        </div>
        <ol class="first-page-list-left fl-l">
            <li id="firstpage" class="tab"><a href="Home"><span>首页</span></a></li>
            <li id="womenpage" class="tab"><a href="wmc"><span>女装</span></a></li>
            <li id="manpage" class="tab"><a href="wmc"><span>男装</span></a></li>
            <li id="childrenpage" class="tab"><a href="" onclick="alert('is building!')"><span>童装</span></a></li>
            <li id="clothpage" class="tab"><a href="" onclick="javascript:alert('is building!')"><span>成衣系列</span></a></li>
            <li id="private-order" class="tab"><a href="" onclick="javascript:alert('is building!')"><span>私人定制</span></a></li>
            <li id="fashion-information" class="tab"><a href="zixun"><span>潮流资讯</span></a></li>
        </ol>
        <ul class="first-page-list-right fl-r" id="lgs">
            <li class="login" id="sign-in"><span>登录</span></li>
            <li class="shopcar"><a href="pcar"><i style="background: url({{ 'assets/img/sprit-img.png'|theme }}) no-repeat -7px -11px;"></i>
                <span>购物车</span></a></li>
            <li class="search" onclick="javascript:alert('efforts are being made to build');"><img
                    src="{{ 'assets/img/common/serach.png'|theme }}"></li>
        </ul>
    </div>
</div>
<div class="background-fff main">
    <div class="main-content">
        <div class="long-title clear-bottom">
            <i class="long-line duan"></i><span class="column"></span><i class="long-line duan"></i>
        </div>
        <div class="lala">
            <a href="">自媒体</a><span class="shu-line yoyu"></span><a href="">自媒体</a><span class="shu-line yoyu"></span><a
                href="">自媒体</a><span class="shu-line yoyu"></span><a href="">自媒体</a>
        </div>
        <div class="clearfix st">
            <div class="fl-l sst">
                <div class="slogan">
                    <p class="slogan-title">针织毛衣最有暖意，西装大衣彰显帅气</p>
                    <p>时尚博主：AMY</p>
                </div>
            </div>
            <div class="fl-r ss">
                    <img class="fashion active" src="{{ 'assets/img/zixun/image/1-2.jpg'|theme }}" alt="">
                    <img class="fashion" src="{{ 'assets/img/zixun/image/2-2.jpg'|theme }}" alt="">
                    <img class="fashion" src="{{ 'assets/img/zixun/image/3-2.jpg'|theme }}" alt="">
                    <img class="fashion" src="{{ 'assets/img/zixun/image/4-2.jpg'|theme }}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="background-ooo main-other">
    <div class="main-content">
        <div class="long-title clear-bottom">
            <i class="long-line duan white"></i><span class="column"></span><i class="long-line duan white"></i>
        </div>
        <div class="lala">
            <a href="">自媒体</a><span class="shu-line yoyu"></span><a href="">自媒体</a><span class="shu-line yoyu"></span><a
                href="">自媒体</a><span class="shu-line yoyu"></span><a href="">自媒体</a>
        </div>
        <div class="clearfix skt">
            <div class="fl-l sskt">
                <div class="slogan">
                    <p class="slogan-title">【街拍】year/month/day</p>
                    <p class="font-twen fff-font">冬季为了打造一身理想的Look，所有人都拼了…</p>
                </div>
            </div>
            <div class="fl-r ssm">
                <div class="gg">
                    <img src="{{ 'assets/img/zixun/img7.png'|theme }}" alt="">
                    <p class="fff-font jiada">2017春夏Lanvin秀场</p>
                </div>
                <div class="gg">
                    <img src="{{ 'assets/img/zixun/img8.png'|theme }}" alt="">
                    <p class="fff-font jiada">2017春夏Lanvin秀场</p>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="background-fff main-area">
    <div class="main-content">
        <div class="long-title clear-bottom">
            <i class="long-line duan"></i><span class="column"></span><i class="long-line duan"></i>
        </div>
        <div class="lala">
            <a href="">自媒体</a><span class="shu-line yoyu"></span><a href="">自媒体</a><span class="shu-line yoyu"></span><a
                href="">自媒体</a><span class="shu-line yoyu"></span><a href="">自媒体</a>
        </div>
        <div class="clearfix stt">
            <div class="fl-l sstt">
                <div class="slogan">
                    <p class="fff-font mrb">2017年春夏趋势</p>
                    <p class="fff-font mr-large">轻盈飘逸长裙早春必备</p>
                </div>
            </div>
            <div class="fl-l ssg">
                <div class="tuijian">
                    <p>驼色大衣的四种配色方法</p>
                </div>
                <div class="tuijian">
                    <p>驼色大衣的四种配色方法</p>
                </div>
                <div class="tuijian">
                    <p>驼色大衣的四种配色方法</p>
                </div>
                <div class="tuijian">
                    <p>驼色大衣的四种配色方法</p>
                </div>
                <div class="xianshi">
                    <div class="product-detail-information">
                        <p class="dot"><span class="date">2017春夏</span> <span class="style">绑带趣味</span></p>
                        <p class="scale-word">2017春夏 绑带元素不仅在
                            鞋履上大展拳脚，同样在秀
                            场上刮起了一阵绑带旋风…</p>
                    </div>
                    <div class="triangle">

                    </div>
                </div>

            </div>
            <div class="fl-r fashionshow">
                <span class="chaopin">潮品推荐</span>
                <div class="large-box">
                    <p><img src="{{ 'assets/img/zixun/img9.jpg'|theme }}" alt=""></p>
                    <p class="large-word"><span>logo/cloth-style</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Fashion = document.getElementsByClassName('fashion');
    var sst = document.getElementsByClassName('sst')[0];
    var src="";
            console.log(sst);
    //    加样式
    for (var i = 0; i < Fashion.length; i++) {
        Fashion[i].index = i;
        Fashion[i].onmouseover = function () {
            for (var j = 0; j < Fashion.length; j++) {
                Fashion[j].className = 'fashion'
            }
            this.className = "fashion active";
        }
    }
    //    换图片
    sst.onclick = function () {
        alert(1);
    };
    for (var i = 0; i < Fashion.length; i++) {
        Fashion[i].onclick = function () {
            src = this.getAttribute("src");
            var src1='';
            src1=src.substring(0,18)+'1.jpg';
            console.log(src);
            console.log(typeof src);
            console.log(src1);
            sst.style.backgroundImage = "url(./{{ 'assets/" + src1 + "'|theme }})";
            console.log("url(" + src + ")");
        };


    }

</script>